@tailwind base;
@tailwind components;
@tailwind utilities;


.screen-light{
  background-color: #f3f4f6;
}

.screen-dark{
  background-color: #000814;
}

.start-gif-dark {
  background-image: url("/img/start-button.gif");
  width: 200px;
  height: 110px;
  background-size: cover;
}

/* .start-gif-dark:hover {
  background-image: url("/img/start-button.gif");

} */

.start-gif-light {
  background-image: url("/img/start-button-wt.gif");
  width: 200px;
  height: 110px;
  background-size: cover;
}

/* .start-gif-light:hover {
  background-image: url("/img/start-button-wt.gif");

} */

.lamp-gif-dark {
  background-image: url("/img/lamp-bt.gif");
  width: 150px;
  height: 270px;
  background-size: cover; 
  margin-left: 20px;
}

/* .lamp-gif-dark:hover {
  background-image: url("/img/lamp-bt.gif");
} */

.lamp-gif-light {
  background-image: url("/img/lamp-wt.gif");
  width: 200px;
  height: 300px;
  background-size: cover;
}

/* .lamp-gif-light:hover {
  background-image: url("/img/lamp-wt.gif");
} */




