@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

input {
  background-color: transparent;
  border: none;
  height: 100%;
  font-size: 1.25rem;
  width: 300px;
}

input:focus {
  outline: none;
}

textarea {
  background-color: transparent;
  border: none;
  height: 100%;
  width: 300px;
  font-size: 1.25rem;
}

textarea:focus {
  outline: none;
}

@media screen and (max-width: 950px) {

  .floating-lamp,
  .time-display,
  .turn-on-dark {
    display: none;
  }
}

@media screen and (max-width: 770px){
  .navbar {
    display: none;
  }
}

@media screen and (min-width: 950px) {
  .home-main {
    width: 45vw;
    padding: 20px;
  }
  .project-content {
    width: 50vw;
    padding: 20px;
  }
}

@media screen and (max-width: 900px) {
  .home-main {
    width: auto;
    padding: 10px;
  }
  .project-content {
    width: auto;
    padding: 20px;
  }
}

.screen-dark {
  background-color: #f3f4f6;
}

.screen-light {
  background-color: #000814;
}

.text-dark {
  color: white;
}

.text-light {
  color: black;
}

.second-bg-light {
  background-color: #eae8e8;
}

.second-bg-dark {
  background-color: #000c1d;
}

.start-gif-dark {
  background-image: url("/img/start-button.gif");
  width: 200px;
  height: 110px;
  background-size: cover;
}

/* .start-gif-dark:hover {
  background-image: url("/img/start-button.gif");

} */

.start-gif-light {
  background-image: url("/img/start-button-wt.gif");
  width: 200px;
  height: 110px;
  background-size: cover;
}

/* .start-gif-light:hover {
  background-image: url("/img/start-button-wt.gif");

} */

.lamp-gif-dark {
  background-image: url("/img/lamp-bt.gif");
  width: 150px;
  height: 270px;
  background-size: cover;
  left: 10rem;
}

/* .lamp-gif-dark:hover {
  background-image: url("/img/lamp-bt.gif");
} */

.lamp-gif-light {
  background-image: url("/img/lamp-wt.gif");
  width: 200px;
  height: 270px;
  background-size: cover;
  left: 8rem;
}

.floating-lamp {
  position: fixed;
  bottom: 0;
  cursor: pointer;
}

/* .lamp-gif-light:hover {
  background-image: url("/img/lamp-wt.gif");
} */

.turn-on-dark {
  background-image: url("/img/turn-on-dt.gif");
  width: 200px;
  height: 200px;
  background-size: cover;
}

.border-light {
  padding: 10px;
  border: 15px solid transparent;
  border-image: url("/img/border2-wt.gif") 30 stretch;
}

.border-dark {
  padding: 10px;
  border: 15px solid transparent;
  border-image: url("/img/border2-dt.gif") 30 stretch;
}

.border-light-btline {
  padding: 10px;
  border-top: 0px solid transparent;
  border-right: 0px solid transparent;
  border-left: 0px solid transparent;
  border-bottom: 15px solid;
  border-image: url("/img/border2-wt.gif") 30 stretch;
}

.border-dark-btline {
  padding: 10px;
  border-top: 0px solid transparent;
  border-right: 0px solid transparent;
  border-left: 0px solid transparent;
  border-bottom: 15px solid;
  border-image: url("/img/border2-dt.gif") 30 stretch;
}

.border-light-rline {
  padding: 10px;
  border-width: 0 15px 0 0;
  border-style: solid;
  border-image: url("/img/border2-wt.gif") 30 stretch;
}

.border-dark-rline {
  padding: 10px;
  border-width: 0 15px 0 0;
  border-style: solid;
  border-image: url("/img/border2-dt.gif") 30 stretch;
}

.border-light-tbline {
  padding: 10px;
  border-width: 15px 0 15px 0;
  border-style: solid;
  border-image: url("/img/border2-wt.gif") 30 stretch;
}

.border-dark-tbline {
  padding: 10px;
  border-width: 15px 0 15px 0;
  border-style: solid;
  border-image: url("/img/border2-dt.gif") 30 stretch;
}

.navbar {
  display: absolute;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.navitems {
  display: flex;
  justify-content: start;
  align-items: start;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar li {
  margin-right: 1rem;
}

.navbar a {
  text-decoration: none;
}

.content {
  display: flex;
  min-width: 70%;
}

.hover-zoom {
  transition: transform 0.2s ease-in-out;
}

.hover-zoom:hover {
  transform: scale(1.05);
}

.badge-light {
  background-color: #333;
  color: #f8f9fa;
}

.badge-dark {
  background-color: #f8f9fa;
  color: #333;
}